
@{
    ViewBag.Title = "New";
}

<h2>Add a new teacher - </h2>


<form method="POST" action="/Teacher/Create">

    <div>

        <label for="TeacherFname">First name:</label>

        <input type="text" name="TeacherFname" />

    </div>

    <div>

        <label for="TeacherLname">Last name:</label>

        <input type="text" name="TeacherLname" />

    </div>

    <div>

        <label for="TeacherEmployeeNumber">Employee number:</label>

        <input type="text" name="TeacherEmployeeNumber" placeholder="T-000" />

    </div>

    <div>

        <label for="TeacherSalary">Salary:</label>

        <input type="number" step="0.01" name="TeacherSalary" />

    </div>


    <div>

        <input type="submit" value="Create Teacher!" />

    </div>

</form>
